@charset "utf-8";
/* CSS Document */
.tile {  
  width: 100%;
	display: inline-block;
	box-sizing: border-box;
	background: #fff;		
	padding: 20px;
	margin-bottom: 10px;
	text-align:center;
	a:hover {
			background: darken(purple, 10%);
		}	

  }
  .title {
		margin-top: 0px;
	}
.bg-purple{
	background-color: #8B008B;
	color: #ffffff;
}

.biggersize{
	font-size: 30px;
}

.bigsize{
	font-size: 25px;
}

.right{
	text-align: right; 
}

.purple{
	color: #8B008B;
}

body{

	margin-bottom:60px;
	margin-top:2px;
	margin-left: 5px;
 	margin-right: 5px;
 	font-family:'Varela Round', sans-serif;
 }

a:link {
    text-decoration: none;
}

a:visited {
    color: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.dashboard-bg{
	background-color: #EEF1F5;
}	

.error {
	color: #FF0000;
	font-size: 13px;
	font-style: italic;
}

.red {
	color: #ff0000;
	font-size: 12px;
	font-style: italic;
}

.cst-panel-body{
	border-bottom:2px solid #800080;
	border-left:2px solid #800080;
	border-right:2px solid #800080;

}

.dbdivs{
	width: 200px;
	height: 100px


}

.bg-purple-hd{
	background-color: #800080;
	color: #ffffff;
} 

.bg-purple{
	background-color: #800080;
	color:#ffffff;
}

.bg-green{
	background-color: green;
	color: #ffffff;
}

.bg-black{
	background-color: #000000;
	color: #ffffff;
}

.bg-red{
	background-color: #FF0000;
	color: #ffffff;
}

.center{
	text-align:center;
}

.right{
	text-align: right;
}
	

.green{
	background-color: Green;
}

.errormsg{
	color:Red;
	font-size:18px;
}

